body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #0602e8;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

.project {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* Ensure content doesn't overflow */
    text-align: center; /* Center-align text */
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%; /* Make image fill the width of the .project div */
    height: auto; /* Maintain aspect ratio */
    max-height: 570px; /* Set a maximum height for consistency */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    margin-bottom: 10px; /* Space between image and text */
    border-radius: 5px; /* Rounded corners for image */
}

.project h3 {
    margin: 0 0 10px; /* Space below the heading */
    font-size: 1.2em; /* Slightly larger font size */
}

.project p {
    margin: 0;
    font-size: 1em; /* Font size for description */
}

.light-mode {
    background-color: #f0f0f0;
    color: #000;
}

.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

button:hover {
    color: #6200ea;
}

footer:content {
    text-align: center;
}